@model InmobiliariaOrtega.Models.Contrato

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>
<h3>¿Seguro que desea eliminar este contrato?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            #@Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inmueble)
        </dt>
        <dd class="col-sm-10">
            @Model.Inmueble.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquilino)
        </dt>
        <dd class="col-sm-10">
            @Model.Inquilino.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>
        <dd class="col-sm-10">
            @Model.FechaDesde.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>
        <dd class="col-sm-10">
            @Model.FechaHasta.ToShortDateString()
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
