@model IEnumerable<InmobiliariaOrtega.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h1>Inquilinos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-plus-square"></i> Nuevo inquilino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <a asp-route-id="@item.Id" asp-controller="Inquilino" asp-action="Details" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Detalles">
                        <i class="fas fa-file-alt"></i>
                    </a>
                    <a asp-route-id="@item.Id" asp-controller="Inquilino" asp-action="Edit" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-route-InquilinoId="@item.Id" asp-controller="Contrato" asp-action="Index" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Contratos">
                        <i class="fas fa-handshake"></i>
                    </a>
                    @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                    {
                        <a asp-route-id="@item.Id" asp-controller="Inquilino" asp-action="Delete" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

