@model InmobiliariaOrtega.Models.Inmueble

@{
    ViewData["Title"] = "Detalles";
}

<h1>Inmueble</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            #@Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dueño)
        </dt>
        <dd class="col-sm-10">
            @Model.Dueño.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ambientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ambientes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Superficie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Superficie)m²
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Visible == 1)
            {
                <span>Si</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Volver</a>
</div>
